<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <!--  Parametrizacion de datos -->
  <!--  Browser & url -->
  	<parameter name="Browser" value="Chrome"/>
    <parameter name="Url" value="https://www.automercado.cr/"/>

  <!--  TESTS -->

    <!--  TESTS FUNCIONALES-->
    
          <!-- Código de prueba FUN-01 Nombre: Búsqueda de producto existente-->
	    <test name="TestBusquedaProducto_Escenario1">
	        <parameter name="producto" value="chocolate"/>
	        <classes>
	            <class name="Test_Scenarios.Funcionales.TestBuscarProducto"/>
	        </classes>
	    </test>
    
        <!-- Código de prueba FUN-02 Nombre: Filtro de productos por marca -->
	    <test name="TestFiltroProductosPorMarca">
	        <classes>
	            <class name="Test_Scenarios.Funcionales.TestFiltrarProductosPorMarca"/>
	        </classes>
	    </test>
	    
	    <!-- Código de prueba FUN-01 Nombre: Búsqueda de producto existente-->
	    <test name="TestOrdenarProductosMayorAMenor">
	        <classes>
	            <class name="Test_Scenarios.Funcionales.TestOrdenarProductosMayorAMenor"/>
	        </classes>
	    </test>
	    
	<!--  TESTS DE INTEGRACION-->
	
		<!-- Código de prueba INT-02' Nombre: Agregar productob a carrito de compras-->
	    <test name="TestAgregarProductoAlCarrito">
	       <parameter name="correo" value="CORREO"/>
           <parameter name="contrasena" value="CONTRASENA"/>
	        <classes>
	            <class name="Test_Scenarios.Integracion.TestAgregarProductoAlCarrito"/>
	        </classes>
	    </test>
		

   		<!-- Código de prueba INT-04' Nombre: Vaciar carrito de compras-->
	    <test name="TestVaciarCarritoCompras">
	       <parameter name="correo" value="CORREO"/>
           <parameter name="contrasena" value="CONTRASENA"/>
	        <classes>
	            <class name="Test_Scenarios.Integracion.TestVaciarCarritoCompras"/>
	        </classes>
	    </test>
	    
        <!-- Código de prueba INT-05' Nombre: Crear lista de compras desde carrito-->
	    <test name="TestGuardarCarritoComoLista">
	       <parameter name="correo" value="CORREO"/>
           <parameter name="contrasena" value="CONTRASENA"/>
           <parameter name="nombreLista" value="Lista"/>
	        <classes>
	            <class name="Test_Scenarios.Integracion.TestGuardarCarritoComoLista"/>
	        </classes>
	    </test>
    
</suite> <!-- Suite -->